body{
	background: skyblue;
	color: black
}
header{
    background-color: floralwhite;
    color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 50px;
}




.logo-section h1{
    margin: 0;
    font-size: 32px;
    color: orange;
}


.slogan{
    margin-top: 5px;
    font-size: 14px;
    color: lightgray;
    font-style: italic;
}




nav a{
    color: black;
    text-decoration: none;

    margin-left: 25px;

    font-size: 18px;

    transition: 0.3s;
}


nav a:hover{
    color: orange;
}

.gallery{
    text-align: center;
    padding: 40px;
}

.image-grid{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.image-grid img{
    width: 250px;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
    transition: 0.3s;
}
.image-grid img:hover{
    transform: scale(1.05);
}



.social-media{
    margin-top: 20px;
}


.social-media a{
    display: inline-block;

    margin: 10px;
    padding: 10px 18px;

    background-color: orange;
    color: white;

    text-decoration: none;

    border-radius: 6px;

    transition: 0.3s;
}

.social-media a:hover{
    background-color: white;
    color: orange;
}

footer{
    background-color: floralwhite;
    color: black;
    padding: 40px 20px;
    text-align: center;
    margin-top: 50px;
}
.footer-container{
    max-width: 800px;
    margin: auto;
}
footer h3{
    font-size: 28px;
    color: navy;
    margin-bottom: 5px;
}
footer .slogan{
    font-style: normal;
    color: white;
    margin-bottom: 20px;
}

.contact-info p{
    margin: 10px 0;
    font-size: 16px;
}
footer hr{
    border: 0;
    height: 1px;
    background: floralwhite;
    margin: 20px 0;
}
footer .copyright{
    margin-top: 15px;
    font-size: 14px;
    color: gray;
}